<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mulinda Yahaya | Portfolio</title>

    <script src="https://kit.fontawesome.com/98dc47e44f.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;800;900&family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">
</head>
<body>
<section id="title">
    <div class="container-fluid">
      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark mb-2">
          <a class="navbar-brand" href="#">Mulinda Yahaya</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="#title">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#skills">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about-d">Testimonials</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact-me">Contact</a>
              </li>
            </ul>
          </div>
      </nav>


      <!-- Title -->
        <div class="mt-5">
            <div class="row">

                <div class="col-lg-6">
                  <h1 class="big-heading">Professional</h1>
                  <p> Web Design, Mobile App Design, Web Hosting</p>
                  <div class="lang-icons">
                      <i class="fab fa-python">  Python</i>
                      <i class="fab fa-android">  Android</i>
                      <i class="fab fa-java">  Java</i>
                  </div>
                  <button type="button" class="btn btn-dark btn-lg download-button"><i class="fas fa-envelope"></i> Contact Me</button>
                </div>

                <div class="col-lg-6">
                  <img src="../static/images/yahaya.jpg" alt="yahaya" class="title-img">
                </div>

            </div>
        </div>

      </div>

  </section>

<section id="skills">
    <div class="container">
        <h2 class="section-title text-center">Programming Languages</h2>
        <div class="bottom-line"></div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <img class="img-logo" src="../static/images/python_icon.jpeg">
                <h4 class="skill-title">Python Web Development</h4>
                <p class="skill-content">Great UIs and Backend using Flask Web Development</p>
            </div>

            <div class="col-lg-4">
                <img class="img-logo" src="../static/images/java_icon.png">
                <h4 class="skill-title">Java Programming</h4>
                <p class="skill-content">Great UIs and Backend using Java Programming Language</p>
            </div>

            <div class="col-lg-4">
                <img class="img-logo" src="../static/images/android_icon.png">
                <h4 class="skill-title">Android Development</h4>
                <p class="skill-content">Responsive Mobile Apps with great UIs and Flexible Backend Development</p>
            </div>
        </div>
    </div>
</section>

<section id="personal_skills">
    <div class="container">
        <h2 class="section-title text-center">Personal Skills</h2>
        <div class="bottom-line"></div>

        <div class="mb-4">
            <h4 class="text-left">Python Flask Web Development</h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="mb-4">
            <h4 class="text-left">Android Development</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="mb-4">
            <h4 class="text-left">SQL</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="mb-4">
            <h4 class="text-left">UI/UX</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>



    </div>
</section>

<!--Testimonials -->
<section id="about-d" class="py-4">
        <div class="container">
            <h2 class="section-title text-center">Testimonials</h2>
            <div class="bottom-line"></div>
            <p class="lead text-center">
                Take a look at What my Colleagues say about me. . .
            </p>
            <div class="testimonials">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <img src="../static/images/tonny.jpg" class="img-testimonial" alt="...">
                            <h5 class="card-title">Anthony Aujongole</h5>
                            <p class="card-text">
                                <em> "We utilized Yahaya’s Project Management skills to oversee the smooth transition of our merger with Yahoo Sport. Our consumers gave us such positive feedback, we later returned to Yahaya, this time to design a new landing page for our corporate website. The results yet again were outstanding."</em>
                            </p>
                          </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <img src="../static/images/marvin.jpg" class="img-testimonial" alt="...">
                            <h5 class="card-title">Basajjabaka Marvin</h5>
                            <p class="card-text">
                                <em> "We hired Yahaya to undertake some search engine optimisation work to boost Google rankings for our UG car hire arm. The results were nothing less than sensational and within six months we were ranked highly on Google, but more importantly the phone has not stopped ringing. I can not recommend Yahaya’s services enough. He’s really one of a kind."</em>
                            </p>
                          </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <img src="../static/images/person.png" class="img-testimonial" alt="...">
                            <h5 class="card-title">Moboli</h5>
                            <p class="card-text">
                                <em> "Finding a programmer to integrate our flagship Note 3 web portal with the Google Marketplace proved to be more difficult than we’d anticipated. Repeatedly we were let down by developers, until, and totally by chance, Yahaya was recommended to us by a customer. His knowledge and professionalism was nothing short of outstanding, and a two month job was completed almost three weeks early."</em>
                            </p>
                          </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>


    </section>

<section id="contact-me" class="text-left">
    <h2 class="section-title text-center">Contact Me</h2>
    <div class="bottom-line"></div>
    <form>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name">
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" class="form-control" id="phone">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="email">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Message</label>
        <textarea style="height:100px" class="form-control" id="message" placeholder="Enter Your Message. . . ."></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
</section>

<!--Footer-->
<footer id="main-footer">
        <div class="footer-content container">
            <div class="row">
                <div class="col-md-6">
                    <p style="padding: 0.5rem">Copyright ©{{current_year}}. All Rights Reserved</p>

                </div>
                <div class="col-md-6 text-right">
                    <div class="social">
                        <a class="social-link" href="https://www.facebook.com/mulinda.yahaya" target="_blank"><i class="fab fa-facebook fa-2x" aria-hidden="true"></i></a>
                        <a class="social-link" href="https://twitter.com/tempahyah?lang=en" target="_blank"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
                        <a class="social-link" href="https://www.linkedin.com/in/mulinda-yahaya-31a7b27a/?originalSubdomain=ug" target="_blank"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a>
                        <a class="social-link" href="https://github.com/tempahyah" target="_blank"><i class="fab fa-github fa-2x" aria-hidden="true"></i></a>

                    </div>
                </div>
            </div>

        </div>
    </footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>